fastapi==0.115.5
uvicorn[standard]==0.32.0
SQLAlchemy==2.0.36
pymysql==1.1.1
python-jose==3.3.0
python-multipart==0.0.17
apscheduler==3.10.4
alembic==1.13.2
alibabacloud_sts20150401
alibabacloud_tea_openapi
oss2==2.19.1
python-dotenv==1.0.1
alibabacloud_dypnsapi20170525
